/******************************************************************
Site Name:
Author:

Stylesheet: Gutenberg Stylesheet

Place all your styles in the .edit-post-visual-editor block 
below. We're importing our main styles so that the Gutenberg
styles in the editor match what you will see on the front end.

******************************************************************/

.edit-post-visual-editor {

    // imports
    @import "normalize";
    @import "variables";
    @import "typography";
    @import "functions";
    @import "mixins";

    // base font styles
    color: #333333;
    font-size: 100%;
    font-family: $sans;
    line-height: 1.5;

    // Adjust for your type
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;


    // add default fonts to blocks + inputs (change this for your theme)
    .editor-post-title__block, .wp-block, .editor-post-title__block .editor-post-title__input {
        font-family: $sans;
    }


    /*********************
    LINK STYLES
    *********************/

    a, a:visited {

        /* on hover */
        &:hover, &:focus {
            text-decoration: underline;
        }

        /* on click */
        &:active {

        }

        &:link {

            -webkit-tap-highlight-color : rgba( 0, 0, 0, 0.3 );
        }
    }

    /******************************************************************
    H1, H2, H3, H4, H5 STYLES
    ******************************************************************/

    h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
    margin: 1.333em 0 0.5em;
    color: lighten($sb-black, 12%);
    font-weight: 500;
    line-height: 1.2;
    text-rendering: optimizelegibility;

        a {
            text-decoration: none;
        }
    }

    h1, .h1 {
        margin-top: 0;
        margin-bottom: 0.319em;
        font-size: 3.157em;
    }

    h2, .h2 {
        margin-top: 0.88em;
        font-size: 2.369em;
    }

    h3, .h3 {
        font-size: 1.777em;
    }

    h4, .h4 {
        font-size: 1.333em;
    }

    h5, .h5 {
        font-size: 1em;
    }

    h6, .h6 {
        text-transform: uppercase;
        letter-spacing: 4.333px;
    }


    p {
        margin: 0 0 1.5em;
    }

    table {
        width: 100%;

        caption {

        }
    }

    tr {
        border-bottom: 1px solid #ccc;
        &:nth-child(even) {
            background-color: #dedede;
        }
    }

    td {
        padding: 7px;
        border-right: 1px solid #ccc;

        &:last-child {
            border-right: 0;
        }
    }

    th {
        border-right: 1px solid #ccc;
        border-bottom: 1px solid #ccc;
        background-color: #dedede;

        &:last-child {
            border-right: 0;
        }
    }

    blockquote {

        &:before {}

    }

    dd {}

    img {}

    .size-auto,
    .size-full,
    .size-large,
    .size-medium,
    .size-thumbnail {
        max-width: 100%;
        height: auto;
    }

    pre {}

    /*********************
    LIST STYLES
    *********************/

    ul, ol {
        // removes default list padding in Safari + Chrome
        -webkit-padding-start: 20px;
    }

}


/**
* Assigning colors to blocks.
* Change/add more classes for your block colors:
* .has-your-theme-color-background-color {}
* .has-your-theme-color-color {}
*
* See here: https://wordpress.org/gutenberg/handbook/extensibility/theme-support/
*/
.has-studio-bio-blue-background-color {
    background-color: #0056ac;
}

.has-studio-bio-blue-color {
    color: #0056ac;
}



/* Style the Gutenberg page */
body.gutenberg-editor-page {}

/* Main editor column width */
body.gutenberg-editor-page .editor-post-title__block,
body.gutenberg-editor-page .editor-default-block-appender,
body.gutenberg-editor-page .editor-block-list__block {}

/* Width of "wide" blocks */
body.gutenberg-editor-page .editor-block-list__block[data-align="wide"] {}

/* Width of "full-wide" blocks */
body.gutenberg-editor-page .editor-block-list__block[data-align="full"] {
    max-width: none;
}
