/******************************************************************
Site Name:
Author:

Stylesheet: Desktop Stylsheet

This is the desktop size. It's larger than an iPad so it will only
be seen on the Desktop.

At this breakpoint you can start setting things like max-width for
your content. Or go full-width. Like Nas said: "The world is yours!"

******************************************************************/

#inner-header, #inner-footer {
    max-width: 1200px; // adjust to your content width or remove for full-width
    margin: 0 auto;
}